fastapi
uvicorn
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-text-splitters
sentence-transformers
chromadb
pypdf
python-dotenv
pydantic
requests
python-multipart
